{% extends "etl/base.html" %}

{% block content %}

<div class="col-lg-6">    
  <section class="panel">
    <header class="panel-heading  m-bot15">
      Add ERP Systems
    </header>
    <div class="panel-body">
      <div class="col-lg-12">

        <form class="form-horizontal" role="form" method="post" action="/actionbot/masters/erpsave/">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label" for="erpname">Name of ERP</label>
            <input type="text" name="erpname" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="erpdesc">ERP Description (if any) </label>
            <textarea class="form-control" name="erpdesc" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>

        {% if msg %}
        <div class="alert alert-danger">{{msg}}</div>
        {% else %}
        <br /><br />
        {% endif %}
      </div>
    </div>
  </section>

</div>



<div class="col-lg-6">
  <section class="panel">
    <header class="panel-heading">
      Listing ERP
      {% for erp in erps%}
      {{ erp.description|safe }}
      {% endfor %}
    </header>
    <div class="panel-body">

      <div class="col-sm-12">

        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <form method="GET" action="/actionbot/masters/erp/">
            <div class="form-inline">
              <span class="pull-right"><input type="text" placeholder="Search" name="search" class="form-control"
                  required="required" />
                <button class="btn btn-warning btn-sm" type="submit" id="searchErp"><span
                    class="glyphicon glyphicon-search"></span></button>
                <a class="btn btn-sm btn-warning" href="/actionbot/masters/erp" title="Refresh"><span
                    class="glyphicon glyphicon-refresh"></span> </a>
              </span>
            </div>
          </form>
        </div>
        <table class="table table-condensed table-striped " id="erpMaster">
          <thead>
            <tr>
              <th>Name of ERP </th>
              <th>ERP Description</th>

              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            {% for erp in erps%}
            <tr>
              <td>{{ erp.erp_name }}</td>
              <td>{{ erp.description }}</td>

              <td>
                <center><a class="btn btn-xs btn-primary btnEdit" title="Edit" rel="{{ erp.erp_id }}"><span
                      class="glyphicon glyphicon-edit"></span></a> <a class="btn btn-xs btn-danger btnDel"
                    href="/actionbot/masters/erpdelete/{{ erp.erp_id }}" title="Delete"><span
                      class="glyphicon glyphicon-trash"></span> </a></center>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if erps.has_other_pages %}
        <ul class="pagination">
          {% if erps.has_previous %}
          <li><a href="?page={{ erps.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in erps.paginator.page_range %}
          {% if erps.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if erps.has_next %}
          <li><a href="?page={{ erps.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}

      </div>

    </div>

  </section>
</div>


<!-- Modal - Edit Form -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog  modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit ERP Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">

              <div class="col-lg-12">
                <form class="form-horizontal" role="form" method="post" action="/actionbot/masters/erpupdate/">
                  {% csrf_token %}

                  <div class="form-group">
                    <input type="hidden" name="erpid" id="erpid" class="form-control">
                    <label class="control-label" for="editerpname">Name of ERP</label>
                    <input type="text" id="erpname" name="editerpname" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="editerpdesc">ERP Description (if any) </label>
                    <textarea class="form-control" id="erpdesc" name="editerpdesc" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>

            </section>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal content End-->

  </div>
</div>
<!-- Modal Edit End -->
{% endblock %}


{% block jsfooter %}
<script type="text/javascript">
  $(document).ready(function () {
    $(".btnEdit").click(function () {

      var id = $(this).attr('rel');
      $('#erpid').val(id);
      $('#erpname').val($(this).closest('tr').find("td:eq(0)").text());
      $('#erpdesc').val($(this).closest('tr').find("td:eq(1)").text());


      $("#myModal").modal({

        keyboard: false

      });

    });

    $(".btnDel").click(function (e) {
      e.preventDefault();
      var link = $(this).attr('href');

      if (confirm("Delete this record..Are you Sure ?")) {
        window.location = link;
      }
    });

  });

</script>

{% endblock %}